<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elf.elfstudent"
    android:versionCode="5"
    android:versionName="1.0">

    <uses-sdk  android:minSdkVersion="15" android:targetSdkVersion="24"/>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/elfhomeicon"
        android:label="@string/app_name"
        android:name=".multidexapplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.CouponActivity"/>



        <activity android:name=".Activities.PasswordActivity"/>
        <activity android:name=".Activities.BoardPage"
            android:exported="true"/>
        <activity android:name=".Activities.HomeActivity"
            android:exported="true"/>

        <activity android:name=".Activities.TestWriteActivity"
            android:exported="true"/>

        <activity android:name=".Activities.RegisterActivity"/>
        <activity android:name=".Activities.LoginActivity"
            android:exported="true"/>
        <activity android:name=".Activities.BrowseTestActivity"
            android:exported="true"/>
        <activity android:name=".Activities.ReportActivity"
            android:exported="true"/>
        <activity android:name=".Activities.TestCompletedActivity"
            android:exported="true"/>
        <activity android:name=".Activities.TestReportsActivity"
            android:exported="true"/>
        <activity android:name=".Activities.SingleTestReportActivity"
            android:exported="true"/>

        <activity android:name=".Activities.InstitutePage"
            android:exported="true"/>
        <activity android:name=".Activities.EmailActivityPage"  android:exported="true"/>
        <activity android:name=".Activities.ForgotPassword"/>

        <activity android:name=".Activities.ChangeProfileActivity"/>


        <activity android:name=".Activities.SingleSubjectReportActivity"/>
        <activity android:name=".Activities.NotificationsActivity"/>

        <activity android:name=".Activities.PaymentActivity"/>
        <activity android:name=".Activities.Setting"></activity>
        <activity android:name=".Activities.Logout"></activity>

        <activity android:name=".Activities.AboutUsActivity"/>
        <activity android:name=".Activities.Contact_us"/>
        <activity android:name=".Activities.FeedbackActivity"/>
        <activity android:name=".Activities.SubjectViewActivity"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>